/* Carrusel */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    width: 90%;          
    max-width: 1000px;   
    margin: 0 auto;     
    display: block;      
}
.carrusel-destacados {
    position: relative;
    max-width: 1000px;
    margin: 120px auto 40px;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
}
.carrusel-slide { 
    display: none; 
    height: 100%; 
}
.carrusel-slide.active { 
    display: block; 
    animation: fadeIn 0.5s; 
}
.carrusel-slide img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.titulo-categoria { 
    color: rgb(82, 150, 150); 
    margin: 40px 0 20px; 
    padding-left: 10px; 
    border-left: 5px solid rgb(34, 100, 100); 
}
.grid-libros { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
    gap: 20px; }
.card-libro { 
    background: white; 
    padding: 15px; 
    border-radius: 10px; 
    text-align: center; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    cursor: pointer; 
    transition: 0.3s; 
}
.card-libro:hover { 
    transform: scale(1.05); 
}
.card-libro img { 
    width: 100%; 
    height: 220px; 
    object-fit: cover; 
    border-radius: 5px; 
}


.modal { 
    display: none; 
    position: fixed; 
    z-index: 10000; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.8); 
    backdrop-filter: blur(5px); 
}
.contenido-modal { 
    background: white; 
    margin: 5% auto; 
    padding: 30px; 
    width: 80%; 
    max-width: 700px; 
    border-radius: 15px; 
    position: relative;
}
.detalles-libro { 
    display: flex; 
    gap: 25px; 
}
.detalles-libro img { 
    width: 200px; 
    border-radius: 10px; 
}
.cerrar-modal { 
    position: absolute; 
    right: 20px; 
    top: 10px; 
    font-size: 30px; 
    cursor: pointer; 
}


.flying-img { 
    position: fixed; 
    z-index: 9999; 
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
    transition: all 0.8s cubic-bezier(0.42, 0, 0.58, 1); 
}

.btn-agregar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(82, 150, 150);
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-agregar:hover {
    background-color: rgb(34, 100, 100);
    transform: scale(1.05);
}
.btn-agregar-modal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(82, 150, 150);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-agregar-modal:hover {
    background-color: rgb(34, 100, 100);
    transform: scale(1.05);
}