.contenedor-devoluciones {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 5%;
    font-family: Verdana, sans-serif;
    color: #333;
}

.hero-devoluciones {
    text-align: center;
    margin-bottom: 50px;
}

.hero-devoluciones h1 {
    color: rgb(82, 150, 150);
    font-size: 3rem;
    border-bottom: 3px solid rgb(218, 231, 231);
    display: inline-block;
    margin-bottom: 10px;
}

.grid-devoluciones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}

.card-devolucion {
    background: #f9fdfd;
    padding: 30px;
    border-radius: 15px;
    border: 4px solid rgb(218, 231, 231);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

.card-devolucion:hover {
    transform: translateY(-5px);
}

.contenedor-icono-dev {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.img-dev {
    width: 50px;
    height: auto;
}

.card-devolucion h2 {
    font-size: 1.1rem;
    color: rgb(34, 100, 100);
    margin-bottom: 15px;
}

.aviso-importante {
    display: flex;
    align-items: center;
    gap: 3%;
    background: rgb(218, 231, 231);
    padding: 25px;
    border-left: 6px solid rgb(82, 150, 150);
    border-radius: 8px;
}
.aviso-importante img {
    width: 90px;
}

@media (max-width: 768px) {
    .contenedor-devoluciones {
        margin: 30px auto;
    }
    
    .hero-devoluciones h1 {
        font-size: 1.8rem;
    }
}