
.contenedor-envio {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 5%;
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
}

.hero-envio {
    text-align: center;
    margin-bottom: 50px;
}

.hero-envio h1 {
    color: rgb(82, 150, 150);
    font-size: 3rem;
    margin-bottom: 10px;
}

.grid-envio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}

.card-politica {
    background: #f9fdfd;
    padding: 30px ;
    border-radius: 15px;
    border: 4px solid rgb(218, 231, 231);
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

.card-politica:hover {
    transform: translateY(-5px);
}

.icono-politica {
    font-size: 40px;
    margin-bottom: 15px;
}
.contenedor-icono {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.img-politica {
    width: 60px;
    height: auto;
}
.card-politica h2 {
    color: #222;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.card-politica ul {
    padding-left: 20px;
}

.nota-importante {
    display: flex;
    align-items: center;
    gap: 3%;
    background: rgb(218, 231, 231);
    padding: 25px;
    border-left: 6px solid rgb(82, 150, 150);
    border-radius: 8px;
}
.nota-importante img {
    width: 90px;
}
@media (max-width: 768px) {
    .hero-envio h1 {
        font-size: 1.8rem;
    }
    
    .contenedor-envio {
        margin: 20px auto;
    }
    .nota-importante {
        flex-direction: column;
        text-align: center;
    }
}